.popup__event_close {
  appearance: none;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -42px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-image: url("../../../images/close.svg");
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: center;
  transition: opacity 0.2s linear;
}
.popup__event_close:hover {
  opacity: 0.6;
}

@media (max-width: 510px) {
  .popup__event_close {
    width: 20px;
    height: 20px;
    background-size: 20px;
    right: 0;
    top: -39px;
  }
}
