.popup__close {
  appearance: none;
  position: absolute;
  left: 430px;
  top: -42px;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 510px) {
  .popup__close {
    left: 262px;
    top: -39px;
  }
}
